* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.full-content {
    width: 100%;
    min-height: 100vh;
    background-image: url('images/ChatGPT\ Image\ Mar\ 9\,\ 2026\,\ 09_00_30\ PM.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#inputCity {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
}

.contents {
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    max-width: 900px;
    width: 90%;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgb(11, 11, 11);
    padding: 40px;
    gap: 20px;
}

#output {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents p {
    font-size: 25px;
}

@media (max-width:768px) {
    .contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        font-size: 15px;

        max-width: 900px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    #output {
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .main-txt{
        padding: 0 20px;
        font-size: 20px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
/* 
.card1 {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    padding: 10px;
} */
.card1{
text-align:center;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(5px);
border-radius:30px;
border:1px solid rgba(255,255,255,0.4);
color:white;
padding:20px;
height:100%;
}